@import url('https://fonts.googleapis.com/css?family=Open+Sans');
img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    margin-top: 100px;
}
img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 }
.img-responsive {
  width: 500px;
  height: 200px;
}
body { 
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.videoWrapperOuter {
  max-width:640px; 
  margin-left:auto;
  margin-right:auto;
  margin: auto;
  margin-top: 50px;
}
.videoWrapperInner {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.videoWrapperInner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sign{
  margin-top: 100px;
  color: white;
  font-family: 'Indie Flower', cursive;
}
/*Social Widget*/
.social{
  background-color: #00FFFF;
  padding-bottom: 10px;
}
.social ul.social_icons li {
    display: inline-block;
}
.social ul.social_icons li a{
  width: 30px;
  height: 30px;
  font-size: 0px;
  background: url(http://i.imgur.com/MkUfchL.png) no-repeat;
  margin-top: 4px;
  display:block;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.social ul.social_icons li.facebook a:hover{
    background-position: 0 -33px;
} 
.social ul.social_icons li.twitter a{
    background-position:-33px 0;
} 
.social ul.social_icons li.twitter a:hover{
    background-position:-33px -33px;
}
.social ul.social_icons li.insta a{
    background-position: -66px 0;
} 
.social ul.social_icons li.insta a:hover{
    background-position: -66px -33px;
}
.social ul.social_icons li.youtube a {
  background-position: -99px 0;
}
.social ul.social_icons li.youtube a:hover {
  background-position: -99px -33px;
}
.social ul.social_icons li.pin a {
  background-position: -132px 0;
}
.social ul.social_icons li.pin a:hover {
  background-position: -132px -33px;
}